{
  "plugins": [
    "syntax-dynamic-import",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-runtime"
  ],
  "presets": [
    "env",
    "react",
    "stage-3",
    "jest"
  ],
  "comments": true
}
