{
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-runtime"
  ],
  "presets": [
    "env",
    "react",
    "jest"
  ]
}
