.attributes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 0;

  .attribute {
    display: flex;
    justify-content: space-between;
    padding: 0 .25em;
    margin: 2px;
    min-width: 24%;

    > div {
      min-width: 30px;
      text-align: center;
    }

    .name  {
      flex-grow: 1;
      font-family: Ubuntu, Calibri, sans-serif;
      font-weight: bold;
      text-align: left;
      text-transform: capitalize;
    }
    .value {
      input[type="text"], textarea {
        text-align: right;
      }
    }

    &.cols-2 { width: 49%; }
    &.cols-3 { width: 75%; }
  }
}
