.Attributes.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 0 0 0;

  > .name {
    font-family: Ubuntu, Calibri, sans-serif;
    order: 0;
  }

  &:before {
    background: transparent;
    content: 'Placeholder';
    display: inline-block;
    margin: 2px;
    min-width: 24%; max-width: 24%;
    order: 1;
    visibility: hidden;
  }
  .attribute {
    background-color: transparent;
    border-radius: 3px;
    min-width: 24%; max-width: 24%;
    order: 2;

    &:nth-child(8n), &:nth-child(8n-1), &:nth-child(8n-2) {
      background-color: $palette-light-blue;
    }

    &.body, &.mind, &.spirit,
    &.potency, &.reflex, &.resilience {
      background-color: darken($palette-light-blue, 5%);
      border: 1px solid darken($palette-light-blue, 10%);
      color: darken($palette-light-blue, 75%);
      > * { font-weight: bold; }
    }

    &.size, &.natural_armor, &.might, &.toughness {
      > * { font-weight: bold; }
      order: 4;
    }

    &.armor { display: none; }
  }

  &:after {
    background: transparent;
    border-bottom: 1px solid lighten($palette-blue, 15%);
    content: '';
    display: block;
    height: 0; width: 100%;
    margin: 10px 0 0 0;
    order: 3;
  }
}
