.attribute {
  display: flex;
  justify-content: space-between;
  margin: 2px;
  min-width: 24%;

  .name  {
    text-align: left;
    overflow: visible;
  }
  .value {
    flex-grow: 1;
    text-align: right;
  }
}
