.descriptor {
  display: flex;
  justify-content: space-between;
  margin: 2px;

  .name  {
    font-family: Ubuntu, Calibri, sans-serif;
    font-weight: bold;
    text-align: left;
    overflow: visible;
  }
  .value {
    flex-grow: 1;
    text-align: right;
  }
}
