.editable {
  overflow: hidden;
  padding: 0;

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &:not(.readonly) {
    &:hover { background: darken($palette-light-blue, 10%); }
    span { cursor: pointer; }
  }
  span, input, textarea {
    border: 0; margin: 0; padding: 5px;
    display: block;
    height: 100%; min-height: 100%; max-height: 100%;
    line-height: 1.5em;
    text-align: inherit;
    vertical-align: baseline;
    width: 100%; min-width: 100%; max-width: 100%;
  }
}
