.Equipment.section {
  .armor, .weapon {
    &:nth-child(odd) {
      background-color: $palette-light-blue;
    }
  }

  .weapon, .armor {
    padding: 0 3px;
  }

  .header {
    .Use.heading {
      flex-grow: 0!important;
      text-align: center!important;
    }
    .Name.heading {
      flex-grow: 1;
      padding: 3px 5px;
      text-align: left;
    }

    .heading > .icon {
      font-size: 1.2em;
      position: relative;
      top: -2px;
    }

    .heading, .equipped, .name, .value {
      padding: 5px 1px;
    }
  }
}
