.sheet .section {
  background: transparent;
  border-top: none;
  margin-bottom: 10px;
  padding: 0;

  &:last-child { margin-bottom: 0; }

  > *:empty { display: none; }

  > .title {
    border-bottom: 1px solid $palette-blue;
    display: flex;
    flex-direction: row;
    font-family: Ubuntu, Calibri, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    justify-content: space-between;
    padding-bottom: 2px;
    margin-bottom: 2px;
    text-transform: capitalize;
    width: 100%;

    > span {
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      text-transform: inherit;
    }
  }

  > .header {
    align-content: space-between;
    border-bottom: 1px solid $palette-blue;
    display: flex;
    margin: 0;
    padding: 0 .25em;
    width: 100%;

    .heading {
      font-family: Ubuntu;
      font-weight: bold;
      margin: 0;
      min-width: 30px;
      padding: 3px 0;
      text-align: center;
      text-transform: none;

      &:first-child {
        flex-grow: 1;
        text-align: left;
      }
    }
  }
}
