.sheet .section {
  background: transparent;
  border-top: none;
  margin-bottom: 10px;
  padding: 0;

  &:last-child { margin-bottom: 0; }

  > *:empty { display: none; }

  > .name {
    border-bottom: 1px solid $palette-blue;
    font-family: Ubuntu, Calibri, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    text-transform: capitalize;
  }

  > .section-header {
    align-content: space-between;
    display: flex;
    padding: 0 .25em;

    .section-heading {
      min-width: 30px;

      &:first-child { flex-grow: 1; }
    }
  }
}
