.sheet-header {
  border-bottom: 1px solid $palette-blue;
  display: flex;
  height: 3em;
  flex-direction: row;
  margin-bottom: 20px;

  .CharacterName {
    flex-grow: 1;
    font-size: 1.8em;
    line-height: 1.8em;
    > * {
      padding: 0;
      font-size: inherit;
      line-height: inherit;
    }
  }

  .xp, .rp, .power {
    overflow: visible;
    min-width: 40px;

    span { overflow: inherit; }
    input {
      padding: 0;
    }
  }
  .name, .power { padding: 1em 0; }
  .name, .xp, .rp, .power {
    font-size: 1em;
    line-height: 1em;
    text-align: center;

    > * {
      font-size: inherit;
      line-height: inherit;
      padding: 1em;
    }
  }
  .CharacterName, .name {
    font-weight: bold;
    font-family: Ubuntu, Calibri, sans-serif;
  }
}
