.Skills.section {

  .section-heading {
    &:nth-child(3) { margin-right: 1%; }
    &:nth-child(3n+1) {
      flex-grow: 1;
      text-align: left;
    }
  }
  .skill {
    min-width: 49.5%; max-width: 49.5%;

    &:nth-child(2n+1) { float: left; }
    &:nth-child(2n+2) { float: right; }
    &:nth-child(4n+1), &:nth-child(4n+2) {
      @extend .highlight;
    }

  }

}
