.Skills.section {

  .header {
    .heading {
      text-align: center;
    }
    .Name.heading {
      flex-grow: 1;
      padding: .25em 5px;
      text-align: left;
    }

    .heading:nth-child(4) {
      margin: 0 .25em;
      width: 1%; min-width: 1%; max-width: 1%;
    }
  }

  .skill {
    min-width: 49.5%; max-width: 49.5%;

    &:nth-child(2n+1) { float: left; }
    &:nth-child(2n+2) { float: right; }
    &:nth-child(4n), &:nth-child(4n-1) {
      @extend .highlight;
    }

  }

}
