.weapon {
  align-content: space-between;
  display: flex;
  width: 100%;

  .name {
    flex-grow: 1;
  }
  .equipped {
    > input[type="checkbox"] {
      margin: 0 6px;
      width: 14px;
    }
  }

  .equipped, .value {
    min-width: 30px;
    text-align: center;
  }
}
