.weapon {
  align-content: space-between;
  display: flex;
  padding: 0 .25em;
  width: 100%;

  .equipped, .name, .value { padding: 5px; }
  .name {
    flex-grow: 1;
  }
  .equipped, .value {
    min-width: 30px;
    text-align: center;
  }
}
