.WoundTracker.section {
  border-radius: 5px;
  border: 2px solid;
  border-color: transparent;

  &.is-damaged  {
    border-color: $palette-beige;
    background: lighten($palette-beige, 10%);
  }
  &.is-severe   {
    border-color: lighten($palette-orange, 30%);
    background: lighten($palette-orange, 45%);
  }
  &.is-critical {
    border-color: $palette-red;
    background: lighten($palette-red, 40%);
  }

  .row {
    display: flex;
    flex-direction: row;
    text-align: center;

    > span { font-weight: bold; }
    > span, > div {
      width: 33.33%;
      text-align: inherit;
    }
  }
}
