$tabs-height: 35px;
$toolbar-height: 31px;
$title-editor-height: 46px;
$tags-height: 36px;

.article.page {
  left: 0; right: 0; top: 0; bottom: 0;
  padding: 0;
  position: absolute;

  .tab-set {
    left: 0; right: 0; top: 0; bottom: 0;
    position: absolute;

    > ul.tabs {
      height: $tabs-height;
      justify-content: flex-start;
      padding: 5px 10px 0px 10px;

      > li.edit.is-active {
        background-color: #f0f0f0;
      }

      > .tab-button { margin-top: -3px; }

      .left   { order: 1 }
      .center { order: 2 }
      .right  { order: 3 }
      .read   { order: 0 }

      .read, .sheet    { margin-right: auto; }
      .edit, .settings { margin-left: auto; }

      .sheet + .read { margin-right: 0; }
      .edit + .html + .settings { margin-left: 0; }
    }

    > .tab {
      left: 0; top: $tabs-height; right: 0; bottom: $tags-height;
      overflow-y: auto;
      position: absolute;
    }

    > .tab.edit {
      padding: 0;
      top: $tabs-height + $toolbar-height;

      .title-editor {
        font-size: 2em;
        font-weight: bold;
        padding: 0 5px;
      }

      > [id^="react-tinymce"] {
        border: none;
        outline: none;
        padding: 10px;
        position: absolute;
        top: $title-editor-height; right: 0; bottom: 0; left: 0;
        width: 100%;
      }
    }

    > .tab.html {
      padding: 0;
    }

    .tab.settings {
      [class*="callout-"] {
        border-radius: 3px;
        margin: 10px 3px;
      }
    }
  }
  > .bottom-bar {
    border-top: 1px solid $color-border-blue;
    bottom: 0; left: $size-left-column-x; right: 0;
    display: flex;
    position: fixed;

    .tag-bar { flex-grow: 1; }
    .buttons {
      display: flex;
    }
  }

  .button {
    height: auto;
    padding: 5px;
    margin: 3px;

    + .button { margin-left: 0; }
  }
  > .menu-button {
    &:not(:hover) {
      background-color: transparent;
      border: none;
    }
    height: 27px; width: 30px;
    margin: 7px 9px 0 0;
    min-height: auto;
    min-width: auto;
    position: absolute;
    right: 0; top: 0;

    > .caption { padding: .25em; }
  }

  .mce-tinymce-inline.mce-panel {
    border: solid $color-border-blue;
    border-width: 0 0 1px 0!important;
    display: block!important;
    height: $toolbar-height!important;
    overflow-y: hidden;
    width: auto!important;

    .mce-flow-layout-item { margin: 0; }
    .mce-toolbar-grp { padding: 0; }
    .mce-btn-group { padding: 2px 3px; }
    .mce-btn > button { padding: 2px 4px; }
    .mce-btn.mce-listbox > button {
      padding-right: 18px;
      > .mce-caret { right: 5px; }
    }
  }

  .tags-editor {
    background-color: $palette-white;
    border-top: 1px solid $color-border-blue;
    position: absolute;
    height: $tags-height;
    bottom: 0; left: 0; right: 0;
  }
}
