$tabs-height: 35px;
$toolbar-height: 32px;

.article.page {
  left: 0; right: 0; top: 0; bottom: 0;
  padding: 0;
  position: absolute;

  .tab-set {
    left: 0; right: 0; top: 0; bottom: 0;
    position: absolute;

    > ul.tabs {
      height: $tabs-height;
      text-align: right;

      > li.edit.is-active {
        background-color: #f0f0f0;
      }
    }

    > .tab {
      position: absolute;
      top: $tabs-height; left: 0; right: 0; bottom: 0;
      overflow-y: auto;
    }

    .tab.edit {
      padding: 0;
      top: $tabs-height + $toolbar-height;

      > [id^="react-tinymce"] {
        padding: 10px;
        position: absolute;
      }
    }

    .tab.html {
      padding: 5px;

      > textarea {
        border: none;
        font-family: monospace;
        padding: 5px;
        position: absolute;
        resize: none;
        left: 0; top: 0; right: 0; bottom: 0;
        width: 100%;
      }
    }
  }

  .mce-tinymce-inline.mce-panel {
    border: solid $palette-royal-blue;
    border-width: 0 0 1px 0!important;
    display: block!important;
    height: $toolbar-height!important;
    width: auto!important;

    .mce-flow-layout-item { margin: 0; }
    .mce-toolbar-grp { padding: 0; }
    .mce-btn-group { padding: 2px 3px; }
    .mce-btn > button { padding: 2px 4px; }
    .mce-btn.mce-listbox > button {
      padding-right: 18px;
      > .mce-caret { right: 5px; }
    }
  }
}
