html, body { overflow: hidden; }

$sections:
  site-header
  navigation
  page-container
;

.layout {
  display: grid;
  grid-template-areas:
    "site-header site-header"
    "navigation page-container"
  ;
  grid-template-columns: $size-left-column-x auto;
  grid-template-rows: $size-header-y auto;
  height: 100vh;
  width: 100vw;

  @each $section in $sections {
    .#{$section} { grid-area: $section; }
  }

  .page-container {
    overflow-y: auto;
  }
}

@include breakpoint(small) {
  .layout {
    grid-template-areas:
      "menu-toggle site-header"
      "page-container page-container"
    ;
    grid-template-columns: 50px 1fr;
    grid-template-rows: $size-header-y calc(100vh - $size-header-y);
  }
}
