html, body { overflow: hidden; }

$sections:
  site-header
  navigation
  page-container
;

.layout {
  display: grid;
  grid-template-areas:
    "site-header site-header"
    "navigation page-container"
  ;
  grid-template-columns: $size-left-column-x auto;
  grid-template-rows: $size-header-y auto;
  height: 100vh;
  width: 100vw;

  @each $section in $sections {
    .#{$section} { grid-area: $section; }
  }

  .navigation {
    border-right: 1px solid $palette-blue;
  }
}
