$sections:
  hits,
  media,
  results,
  title
;

.search.page {
  display: grid;
  grid-gap: 10px;
  padding: 10px;

  .result.card {
    @include dropshadow;
    align-items: center;
    display: grid;
    border: 2px solid $color-border;
    border-radius: 3px;
    color: $color-text;
    cursor: pointer;
    grid-gap: 10px;
    grid-template-areas: "media results hits";
    grid-template-columns: 80px 1fr 60px;
    grid-template-rows: 1fr;
    padding: 20px;
    text-decoration: none;
    width: 100%;

    @each $section in $sections {
    .#{$section} { grid-area: #{$section}; }
    }

    .media {
      align-self: center;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 80px; width: 80px;
      justify-self: center;
    }

    .search-match {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .no-results {
    margin: auto;
  }
}
