$sections:
  hits,
  media,
  results,
  title
;

.search.page {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  padding: 10px;

  .result.card {
    @include dropshadow;
    align-items: center;
    display: grid;
    border: 2px solid $color-border;
    border-radius: 3px;
    color: $color-text;
    cursor: pointer;
    grid-gap: 10px;
    grid-template-areas: "media results hits";
    grid-template-columns: 80px 1fr 60px;
    grid-template-rows: 1fr;
    padding: 20px;
    text-decoration: none;
    width: 100%; max-width: calc(100vw - 20px);

    @each $section in $sections {
    .#{$section} { grid-area: #{$section}; }
    }

    &.no-media {
      grid-template-areas: "results hits";
      grid-template-columns: 1fr 60px;
    }

    .media {
      align-self: center;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 80px; width: 80px;
      justify-self: center;
    }

    .search-match {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .hits { text-align: right; }
  }
  .no-results {
    margin: auto;
  }
}

@include breakpoint(small) {
  .search.page {
    .result.card {
      grid-template-columns: 40px 1fr 40px;
      font-size: .8em;
      padding: 5px;

      &.no-media {
        grid-template-columns: 1fr 40px;
      }

      .media {
        height: 40px; width: 40px;
      }
    }
  }
}
