.search.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .result.card {
    border-radius: 3px;
    cursor: pointer;
    margin: 0 0 10px 0;
    width: 100%;

    .media figure > img {
      margin: auto;
      height: auto; max-height: 100%;
      width:  auto; max-width:  100%;
    }
    .media-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      height: 64px;
      overflow: hidden;

      .level { margin: 0; }
    }
    .search-match {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .no-results {
    margin: auto;
  }
}

@media (max-width: $screen-tablet) {
  .search-result { width: 95%; }
}
@media (min-width: $screen-tablet) {
  .search-result { width: 49%; }
}
@media (min-width: $screen-desktop) {
  .search-result { width: 32%; }
}
@media (min-width: $screen-widescreen) {
  .search-result { width: 24%; }
}
