.highlight {
  border-radius: 3px;
  background-color: #f0f9f9;
}

.sheet.page {
  font-size: .8em;

  .portrait {
    border-radius: 5px;
    border: 5px solid lighten($palette-light-gray, 5%);
  }

  .attribute.th {
    border-radius: 3px;
    background-color: $palette-light-blue;
  }

  .Attributes.section .attribute.placeholder {
    background-color: transparent;
  }
  .Attributes.section .attribute:not(.th)   { @extend .highlight; }
  .Traits.section {
    .attribute { width: 100%; }
    .section-header, .attribute {
      display: flex;
      justify-content: space-between;
    }
    .attribute:nth-child(odd) { @extend .highlight; }
  }
  .Skills.section {
    .attribute { width: 100%; }
    .attribute:nth-child(odd) { @extend .highlight; }
  }
}
