.sheet.page {
  font-size: .8em;

  .experience.bar {
    font-family: Ubuntu, Calibri, sans-serif;
    font-size: 1.0rem;
    padding: 5px;

    .header { font-weight: bold; }
  }

  .columns { margin-bottom: 0; }

  .portrait.column {
    text-align: center;

    .portrait {
      border-radius: 5px;
      border: 5px solid lighten($palette-light-gray, 5%);
    }
  }

  .highlight {
    border-radius: 3px;
    background-color: #f0f9f9;
  }

  .section .placeholder {
    display: inline-block;
    background: transparent;
    visibility: hidden;
  }

  .Descriptors.section, .Attributes.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 0 0 0;

    > .name {
      font-family: Ubuntu, Calibri, sans-serif;
    }
    .attribute  {
      min-width: 24%; max-width: 24%;
      @extend .highlight;

      &.th {
        border-radius: 3px;
        background-color: $palette-light-blue;
      }
    }
    .descriptor { min-width: 32%; max-width: 32%; }
  }

  .Armor.section, .Weapons.section {
    .section-heading, .weapon, .armor {
      padding: 0 3px;
    }
    .section-heading:first-child {
      flex-grow: 0;
      text-align: center;
    }
    .section-heading:nth-child(2) {
      flex-grow: 1;
      padding: 5px;
      text-align: left;
    }
    .section-heading, .equipped, .name, .value {
      padding: 5px 1px;
    }
  }

  .Armor.section .armor:nth-child(odd),
  .Skills.section .skill:nth-child(odd),
  .Traits.section .trait:nth-child(odd),
  .Weapons.section .weapon:nth-child(odd) {
    @extend .highlight;
  }
}
