$size-header-y: 50px;
$size-left-column-x: 160px;

$font-headers:        Ubuntu, Calibri, sans-serif;

$color-text:          $palette-gray-dark;
$color-bg-page:       $palette-white;
$color-bg-light:      $palette-offwhite;

$color-border-blue:   $palette-blue;

$color-table-bg-even: $palette-white;
$color-table-bg-odds: $palette-offwhite;

$color-success:       $palette-green;
$color-danger:        $palette-red;

// Special Icons for Content Types
$color-system: $palette-beige;
$image-system: url(/images/dice.gif);

$color-book: $palette-blue-light;
$image-book: url(/images/book.png);

$color-info: $palette-blue-light;
$image-info: url(/images/info.png);

$image-transparent: url(/images/transparent-bg.png);

$screen-tablet:     769px !default;
$screen-desktop:    980px !default;
$screen-widescreen: 1180px !default;
