$size-header-y: 50px;
$size-left-column-x: 160px;

$palette-beige:       #f6ebc1;
$palette-blue:        #42afe3;
$palette-dark-gray:   #333;
$palette-royal-blue:  #08f;
$palette-light-gray:  #d3d6db;
$palette-offwhite:    #f6f6f6;
$palette-red:         #c44;
$palette-white:       #fff;

$color-text:          $palette-dark-gray;
$color-bg-page:       $palette-white;
$color-bg-light:      $palette-offwhite;

$color-border-blue:   $palette-blue;

$color-table-bg-even: $palette-white;
$color-table-bg-odds: $palette-offwhite;

// Special Icons for Content Types
$color-system: #fdf5e6;
$image-system: url(/images/dice.gif);

$color-book: #f2ffff;
$image-book: url(/images/book.png);

$color-info: #f0f8ff;
$image-info: url(/images/info.png);

$image-transparent: url(/images/transparent-bg.png);