.button {
  line-height: 1em;
}

.icon { 
  font-size: 1em; 
  height: auto;
  line-height: 1em;
  text-align: center;
  vertical-align: middle;
  width: auto;
}

[class^="icon-"], [class*=" icon-"] {
  &:before {
    margin: 0 3px 0 0;
    padding: 0;
  }
  &:empty:before {
    margin: 0;
  }
}