* { box-sizing: border-box!important; }
html, body {
  background: $color-bg-page;
  color: $color-text;
}
a { color: $color-default-link; }

body .mce-tab {
  height: 31px;
  &.mce-active { height: 32px; }
}