.article-children {
  @include dropshadow();

  border: 2px solid $color-border;
  border-radius: 5px;
  display: grid;
  grid-template-areas:
    "header"
    "link-list"
  ;
  margin-top: 1em;
  overflow: hidden;

  header {
    background-color: $palette-gray-light;
    border: none;
    color: $palette-gray-dark;
    padding: 5px;

    .icon {
      font-size: 14px;
    }
  }
  .link-list {
    background-color: lighten($palette-gray-light, 10%);
    display: grid;
    grid-auto-flow: row;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
  }
}

@include breakpoint(medium) {
  .article-children {
    .link-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@include breakpoint(small) {
  .article-children {
    .link-list {
      grid-template-columns: repeat(2, 1fr);

      a { @include ellipsis; }
    }
  }
}
