.favorite.icon {
  cursor: pointer;
  font-size: .5em;
  padding: .5em;

  &.is-small, &.is-medium, &.is-large {
    height: auto;
    width: auto;
  }
}

.icon-favorite-off { color: rgba(0, 0, 0, .2) }
.icon-favorite-on {
  color: $palette-gold;
  text-shadow:
    1px 1px $palette-gold-dark,
    -1px 1px $palette-gold-dark,
    1px -1px $palette-gold-dark,
    -1px -1px $palette-gold-dark
  ;
  -webkit-text-stroke: .5px $palette-gold-dark;
}
