@mixin ul {
  list-style: none;
  margin: 0;
}

label[for="navigation-menu"] { display: none; }
.menu-toggle { display: none; }

ul.navigation {
  @include ul;
  border-right: 1px solid $palette-blue;
  padding: 5px;
  padding-left: 1em;
  overflow-y: auto;

  ul {
    @include ul;
    padding: 5px 0;
  }

  li {
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    > ul {
      margin: 0 0 5px 10px;
    }
  }

  li.is-current {
    align-items: center;
    display: inline-grid;
    margin-right: 10px;
    position: relative;
    overflow: visible;
    width: calc(100% - 10px);

    &:before, &:after {
      color: $color-border;
      font-size: .8em;
      font-weight: bold;
      position: absolute;
      text-align: center;
      width: 10px;
    }
    &:before {
      content: '»';
      left: -10px;
    }
    &:after {
      content: '«';
      right: -10px;
    }
  }
}

@include breakpoint(small) {
  label[for="navigation-menu"] {
    align-content: center;
    background: $color-bg-inverse;
    color: $color-text-inverse;
    display: grid;
    font-size: 2em;
    height: 100%;
    justify-content: center;
    width: 100%;
  }
  ul.navigation { display: none; }


  .menu-toggle:checked {
    ~ label[for="navigation-menu"] {
      color: $color-text;
      background: $color-bg;
    }
    ~ ul.navigation {
      background: $color-bg;
      display: inline-block;
      position: absolute;
      bottom: 0; left: 0; top: $size-header-y;
      width: $size-left-column-x;
      z-index: 1;
    }
  }
}
