header.site-header {
  align-content: center;
  background-color: $color-bg-inverse;
  display: grid;
  grid-template-areas:
    "logo search facebook"
  ;
  grid-template-columns: 150px auto 150px;
  padding: 5px;
  height: 50px;

  .logo {
    align-items: center;
    color: $color-text-inverse;
    display: inline-flex;
    font-size: 2em;
    white-space: nowrap;

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
