.tag {
  align-content: center;
  align-items: center;
  background-color: $palette-offwhite;
  border-radius: 3px;
  border: 1px solid $palette-blue-royal;
  display: inline-grid;
  font-size: .9em;
  grid-gap: .25em;
  grid-template-columns: 1.2em 1fr 1.2em;
  grid-template-rows: 100%;
  height: 2em;
  margin: 3px;
  max-width: $size-tag-max-width;
  padding: 3px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  &[class^="icon-"], &[class*=" icon-"] {
    &:before, > * {
      color: $color-link;
      display: inline-grid;
      font-size: .8rem;
    }
  }
  &:before, > * {
    align-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  > .link, > .text {
    display: inline-grid;
    justify-content: flex-start;
    line-height: .7rem;
    max-width: calc(#{$size-tag-max-width} - 46px);
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .remove {
    cursor: pointer;

    &:after {
      content: ' ×';
      font-weight: bold;
      padding-left: .25em;
    }
  }
}

.tag:not(.removable) {
  grid-template-columns: 1.5em auto 5px;
  .remove { display: none; }
}
