.tag {
  align-content: center;
  background-color: $palette-offwhite;
  border-radius: 3px;
  border: 1px solid $palette-blue-royal;
  display: inline-grid;
  font-size: .9em;
  grid-template-columns: 1.2em auto 1em;
  grid-template-rows: 1fr;
  height: 2em;
  justify-content: center;
  margin: 3px;
  padding: 0;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;


  &[class^="icon-"], &[class*=" icon-"] {
    &:before, > * {
      display: inline-grid;
    }
  }
  &:before, > * {
    align-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  > a {
    text-decoration: none;
  }
  .remove {
    cursor: pointer;

    &:after {
      content: ' ×';
      font-weight: bold;
      padding-left: .25em;
    }
  }
}

.tag:not(.removable) {
  grid-template-columns: 1.5em auto 5px;
  .remove { display: none; }
}
