.tag-bar {
  display: block;
  min-height: 35px;
  padding: 2px;

  &.readonly {
    background: transparent;
  }

  .tag-bar-input {
    background: inherit;
    border: none;
    margin: 0 5px;
  }
}
