.fb {
  align-items: center;
  display: inline-grid;
  grid-auto-flow: column;
  padding: 5px 0;

  .button {
    align-items: center;
    background-color: #2b4170;
    background: -moz-linear-gradient(top, #3b5998, #2b4170);
    background: -ms-linear-gradient(top, #3b5998, #2b4170);
    background: -webkit-linear-gradient(top, #3b5998, #2b4170);
    background: linear-gradient(top, #3b5998, #2b4170);
    border-radius: 5px;
    border: 1px solid #2b4170;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    display: flex;
    height: 100%;
    margin: 0;
    outline: none;
    padding: 3px;
    text-shadow: 1px 1px #1f2f52;

    img {
      border-radius: 5px 0 0 5px;
      border-right: 1px groove;
      margin: -4px 0 -4px -4px;
    }

    .name {
      display: inline-block;
      text-align: center;
      width: 100%;
    }

    &:hover { color: #fff; }
    > * { color: inherit; }
  }
}
