.menu-button {
  border-radius: 5px 5px 0 0;
  padding: 0;
  position: relative;

  &:before {
    background: #fff;
    border-radius: 5px 5px 0 0;
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 1001;
  }
  > .caption {
    padding: auto auto;
    z-index: 1001;

    > .icon { margin: 0; }
  }

  &:hover {
    border: 1px solid $palette-royal-blue;
    border-bottom: 1px solid $palette-white;
  }

  > .menu { z-index: 1000; }
}

.menu {
  list-style: none;
  padding: 0;
}

.menu-item {
  padding: 5px;
  position: relative;

  &[onclick] { cursor: pointer; }

  > .menu {
    background-color: $palette-white;
    border: 1px solid $palette-royal-blue;
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 100%; margin-top: -1px;

    &.align-left  {
      border-radius: 0 5px 5px 5px;
      left: -1px;
    }
    &.align-right {
      border-radius: 5px 0 5px 5px;
      right: -1px;
    }
  }

  &:hover {
    > .menu { display: inline-block; }
  }
}
