a {
  color: $color-link;
  text-decoration: none;

  &.external {
    &:after {
      content: '\ea17';
      font-family: axis-wiki;
      font-size: .5rem;
      margin-left: .25rem;
      position: relative;
      text-decoration: none;
      top: -0.5em;
    }
  }

  &.missing { color: $color-link-missing; }
}
