blockquote {
  background: $palette-beige;
  border-color: darken($palette-beige, 20%);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px 1px 1px 3px;
  margin: .75em;
  padding: 0.25em 0.5em;
  text-align: justify;
}
