h1, h2, h3, h4, h5, h6 {
  border-bottom: 1px solid #42afe3;
  display: block;
  line-height: 1em;
  margin: 10px 0;
  padding-bottom: .25em;

  &:first-child { margin-top: 0; }
}
h1, h3, h5 {
  font-weight: bold;
}
h2, h4, h6 {
  font-style: italic;
}
h1, h2 { font-size: 2em; }
h3, h4 { font-size: 1.6em; }
h5, h6 { font-size: 1.2em; }