a {
  color: $palette-blue-royal;


  &.external {
    &:after {
      content: '\e800';
      font-family: axis-wiki;
      font-size: .5rem;
      margin-left: .25rem;
      margin-top: -.25rem;
      position: relative;
      top: -3px;
    }
  }

  &.missing { color: $palette-red; }
}
