.search-box {
  display: grid;
  position: relative;

  &.control {
    margin: auto;
  }

  input[type="text"] {
    border-radius: 5px;
    border: none;
    display: block;
    margin: 5px;
    padding: 5px 5px 5px 25px;
  }
  > .icon {
    color: $palette-gray-medium;
    font-size: 16px;
    position: absolute;
    left: 8px;
    top: 50%; margin-top: -8px;
  }
}
