@import '../Variables';

.cp-article {
  left: 0; right: 0; top: 0; bottom: 0;
  padding: 10px 0;
  position: absolute;

  > .tabs {
    margin-bottom: 5px;
    overflow: visible;

    .mce-tinymce-inline.mce-panel {
      border: solid $color-border-gray;
      border-width: 1px 0;
      margin: -2px 0 0 0;
      height: 32px!important;
      width: auto!important;

      .mce-flow-layout-item { margin: 0; }
      .mce-toolbar-grp { padding: 0; }
      .mce-btn-group { padding: 2px 3px; }
      .mce-btn > button { padding: 2px 4px; }
      .mce-btn.mce-listbox > button {
        padding-right: 18px;
        > .mce-caret { right: 5px; }
      }
    }

    .icon.is-small {
      position: relative;
      top: 2px;
    }

    > ul {
      padding: 0 10px;

      .button {
        height: 28px;
        margin-top: 3px;
        padding: 1px 4px;
      }
    }
    li.is-active {
      z-index: 70000;
      a {
        background: #f0f0f0;
        padding: 5px 15px 4px;
      }
    }
  }
  > .wiki-content {
    text-align: justify;

    p {
      margin: 1rem 0;
      text-align: justify;
    }
    p:first-child { margin-top: 0; }
    p:last-child  { margin-bottom: 0; }

    ul, ol {
      list-style-position: outside;
      padding-left: 25px;
    }
    ul { list-style-type: disc; }
    li { padding: 0 0 5px 0; }

    .note, .tip {
      border: 1px solid $color-border-gray;
      overflow: hidden;
      text-align: justify;
    }
    .note[class*="note-"] {
      padding-left: 30px;
      position: relative;

      &:before {
        content: '';
        display: inline-block;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        border-right: 1px solid $color-border-gray;
        position: absolute;
        left: 0; top: 0; height: 100%; width: 24px;
      }
      &.note-system:before {
        background-color: $color-system;
        background-image: $image-system;
      }
    }

    table {
      th, td {
        border: 1px solid $color-border-gray;
        border-width: 0 0 1px 1px;
        padding: 3px;
      }
    }
    table.note[class*="note-"] {
      border-collapse: separate;
      border-spacing: 0;
      padding-left: 22px;

      &.note-system th { background-color: lighten($color-system, 2.5%); }
    }
    table.progression {
      tr:nth-child(even) { background-color: $color-table-bg-even; }
      tr:nth-child(odd)  { background-color: $color-table-bg-odds; }
    }

    &.reader a.wiki-missing { color: $color-missing-link; }
    &.reader a.wiki-external:after {
      content: '\e807';
      font-family: axis-wiki;
      font-size: .7rem;
      margin-left: 3px;
      position: relative;
      top: -3px;
    }
    &.reader, &.editor {
      border-top: 1px solid $color-border-gray;
      left: 0px; right: 0; top: 45px; bottom: 35px;
      overflow: auto;
      padding: 10px;
      position: absolute;
    }
    &.editor {
      border-right: 1px solid $color-border-gray;
      top: 75px;

      .mce-edit-focus { outline: none; }
    }
  }
  &.mode-read > .wiki-content.editor,
  &.mode-edit > .wiki-content.reader { display: none; }

  &.mode-edit > .tabs .mce-tinymce-inline.mce-panel {
    display: block!important;
  }

  .tags {
    background: #fff;
    border-top: 1px solid $color-border-blue;
    bottom: 0; left: $size-left-column-x; right: 0;
    display: block;
    height: 35px;
    padding: 5px 5px 5px 35px;
    position: fixed;

    > .icon:first-child {
      margin: 0 5px 0 0;
      position: absolute;
      left: 5px; top: 5px;
    }
    > .icon:last-child {
      cursor: pointer;
      margin: 0 5px 0 0;
      position: absolute;
      right: 5px; top: 5px;
    }
  }
  &.mode-read .tags {
    padding: 5px 35px;

    > .icon:last-child { display: none; }
  }
}
.mce-floatpanel, .mce-floatpanel * {
  box-sizing: content-box!important;
}