@import '../Variables';

.cp-article {
  left: 0; right: 0; top: 0; bottom: 0;
  padding: 10px 0;
  position: absolute;

  > .tabs {
    margin-bottom: 5px;
    overflow: visible;

    .mce-tinymce-inline.mce-panel {
      border: solid $color-border-gray;
      border-width: 1px 0;
      margin: -2px 0 0 0;
      height: 32px!important;
      width: auto!important;

      .mce-flow-layout-item { margin: 0; }
      .mce-toolbar-grp { padding: 0; }
      .mce-btn-group { padding: 2px 3px; }
      .mce-btn > button { padding: 2px 4px; }
      .mce-btn.mce-listbox > button {
        padding-right: 18px;
        > .mce-caret { right: 5px; }
      }
    }

    .icon.is-small {
      position: relative;
      top: 2px;
    }

    > ul {
      padding: 0 10px;

      .button {
        height: 28px;
        margin-top: 3px;
        padding: 1px 4px;
      }
    }
    li.is-active {
      z-index: 70000;
      a {
        background: #f0f0f0;
        padding: 5px 15px 4px;
      }
    }
  }
  > .wiki-content {
    &.reader a.wiki-missing {
      color: $color-missing-link;
    }
    &.reader a.wiki-external:after {
      content: '\e807';
      font-family: axis-wiki;
      font-size: .7rem;
      margin-left: 3px;
      position: relative;
      top: -3px;
    }

    ul, ol { list-style-position: inside; }
    ul { list-style-type: disc; }
    li { padding-left: 10px; }
    li > ul, li ol { padding-left: 10px; }

    &.reader, &.editor {
      border-top: 1px solid $color-border-gray;
      left: 0px; right: 0; top: 45px; bottom: 35px;
      overflow: auto;
      padding: 10px;
      position: absolute;
    }
    &.editor {
      border-right: 1px solid $color-border-gray;
      top: 75px;

      .mce-edit-focus { outline: none; }
    }
  }
  &.mode-read > .wiki-content.editor,
  &.mode-edit > .wiki-content.reader { display: none; }

  &.mode-edit > .tabs .mce-tinymce-inline.mce-panel {
    display: block!important;
  }

  .tags {
    background: #fff;
    border-top: 1px solid $color-border-blue;
    bottom: 0; left: $size-left-column-x; right: 0;
    display: block;
    height: 35px;
    padding: 5px 5px 5px 35px;
    position: fixed;

    > .icon:first-child {
      margin: 0 5px 0 0;
      position: absolute;
      left: 5px; top: 5px;
    }
    > .icon:last-child {
      cursor: pointer;
      margin: 0 5px 0 0;
      position: absolute;
      right: 5px; top: 5px;
    }
  }
  &.mode-read .tags {
    padding: 5px 35px;

    > .icon:last-child { display: none; }
  }
}