@import '../Variables';

.tag {
  padding: 4px;
  margin: 0 5px 5px 0;

  .icon {
    color: $color-border-gray;
    font-size: 10px;
    margin: -1px 1px;
    width: 16px;
  }
  .icon-remove { display: none; }

  &.editable {
    span.name, .icon-remove {
      cursor: pointer;
    }
    .icon-remove { display: inline-block; }
  }

  input[type=text] {
    border: 0;
    position: relative;
    top: -1px;
  }
}