@import '../Variables';

.tag {
  padding: 4px;

  .icon {
    color: $color-border-gray;
    font-size: 10px;
    margin: -1px 1px;
    width: 16px;
  }

  input[type=text] {
    background: transparent;
    border: 0;
    position: relative;
    top: -1px;
  }
}