
.icon-link-external:before { content: '\e800'; } /* '' */
.icon-html:before { content: '\e801'; } /* '' */
.icon-save:before { content: '\e802'; } /* '' */
.icon-edit:before { content: '\e803'; } /* '' */
.icon-settings:before { content: '\e804'; } /* '' */
.icon-read:before { content: '\e805'; } /* '' */
.icon-tag:before { content: '\e806'; } /* '' */
.icon-tags:before { content: '\e807'; } /* '' */
.icon-sheet:before { content: '\e808'; } /* '' */
.icon-d10:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-facebook:before { content: '\e80b'; } /* '' */
.icon-info:before { content: '\e80c'; } /* '' */
.icon-warning:before { content: '\e80d'; } /* '' */
.icon-undo:before { content: '\e80e'; } /* '' */
.icon-add:before { content: '\e80f'; } /* '' */
.icon-remove:before { content: '\e810'; } /* '' */
.icon-picture:before { content: '\e811'; } /* '' */
.icon-backpack:before { content: '\e813'; } /* '' */
.icon-currency:before { content: '\e814'; } /* '' */
.icon-weapon:before { content: '\e819'; } /* '' */
.icon-axis:before { content: '\e81b'; } /* '' */
.icon-favorite-off:before { content: '\e81c'; } /* '' */
.icon-favorite-on:before { content: '\e81d'; } /* '' */
.icon-logout:before { content: '\e81e'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */