@font-face {
  font-family: 'axis-wiki';
  src: url('../font/axis-wiki.eot?15475384');
  src: url('../font/axis-wiki.eot?15475384#iefix') format('embedded-opentype'),
       url('../font/axis-wiki.woff2?15475384') format('woff2'),
       url('../font/axis-wiki.woff?15475384') format('woff'),
       url('../font/axis-wiki.ttf?15475384') format('truetype'),
       url('../font/axis-wiki.svg?15475384#axis-wiki') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'axis-wiki';
    src: url('../font/axis-wiki.svg?15475384#axis-wiki') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "axis-wiki";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-link-external:before { content: '\e800'; } /* '' */
.icon-html:before { content: '\e801'; } /* '' */
.icon-save:before { content: '\e802'; } /* '' */
.icon-edit:before { content: '\e803'; } /* '' */
.icon-settings:before { content: '\e804'; } /* '' */
.icon-read:before { content: '\e805'; } /* '' */
.icon-tag:before { content: '\e806'; } /* '' */
.icon-tags:before { content: '\e807'; } /* '' */
.icon-sheet:before { content: '\e808'; } /* '' */
.icon-d10:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-facebook:before { content: '\e80b'; } /* '' */
.icon-info:before { content: '\e80c'; } /* '' */
.icon-warning:before { content: '\e80d'; } /* '' */
.icon-undo:before { content: '\e80e'; } /* '' */
.icon-add:before { content: '\e80f'; } /* '' */
.icon-remove:before { content: '\e810'; } /* '' */
.icon-picture:before { content: '\e811'; } /* '' */
.icon-torso:before { content: '\e812'; } /* '' */
.icon-backpack:before { content: '\e813'; } /* '' */
.icon-currency:before { content: '\e814'; } /* '' */
.icon-arm:before { content: '\e815'; } /* '' */
.icon-leg:before { content: '\e816'; } /* '' */
.icon-feet:before { content: '\e817'; } /* '' */
.icon-head:before { content: '\e818'; } /* '' */
.icon-weapon:before { content: '\e819'; } /* '' */
.icon-hand:before { content: '\e81a'; } /* '' */
.icon-axis:before { content: '\e81b'; } /* '' */
.icon-favorite-off:before { content: '\e81c'; } /* '' */
.icon-favorite-on:before { content: '\e81d'; } /* '' */
.icon-logout:before { content: '\e81e'; } /* '' */