.app-header {
  .hero-head {
    padding: 0 10px;
  }

  .nav-left {
    .title, .subtitle {
      line-height: 28px;
      margin: auto 0;
    }
  }
  .nav-right {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }

  .level-item {
    margin-bottom: 0;
  }
}
