.app-header {
  .header { padding: 0 10px; }
  .header .title {
    line-height: 50px;
    margin-bottom: 0;
    padding: 0;
  }

  .navbar {
    a { 
      color: $palette-white;
      font-size: 11px;
      font-weight: bold;
      padding-top: 2px;
    }
  }
}