.navigation {
  font-size: .9rem;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
  li > ul {
    margin: 0 0 5px 10px;
  }

  li.is-current {
    list-style: none;

    &:before {
      content: '»';
      margin-left: -.75em;
      position: absolute;
    }
  }
}
