.tab-set {
  margin: 0;
  padding: 0;

  ul.tabs {
    border-bottom: 1px solid $color-border;
    line-height: 1em;
    margin: 0;
    overflow: visible;
    padding: 5px 5px 0 5px;

    > .tab {
      display: flex;
      padding: 7px 5px 0 5px;
      background-color: $palette-offwhite;
      border: 1px solid $palette-gray-light;
      border-bottom: 1px solid $color-border;
      border-radius: 5px 5px 0 0;
      color: lighten($palette-gray-dark, 40%);
      cursor: pointer;
      display: inline-flex;
      padding: 7px;
      margin: 2px 0 -1px 0;

      > .icon {
        height: 1rem;
        margin: 0 3px 0 0;

        &:only-child { margin: 0 3px; }
      }

      &.is-active {
        background: $palette-white;
        border-color: $color-border;
        border-bottom: 1px solid transparent;
        color: $color-text;
        padding-top: 9px;
        margin: 0 0 -1px 0;
      }
    }
  }

  > .tab {
    padding: 10px;
  }
}
