.tag-browser {
  margin-top: 10px;

  &.message {
    background: transparent;
    overflow-x: hidden;

    .message-header { display: block; }
  }
  &.is-info .message-body { background-color: $color-info; }

  .message-header > .icon {
    font-size: 14px;
    margin: 0 0 0 -3px;
    vertical-align: middle;
  }
  .message-body {
    margin: 0;
    padding: 0;
  }
}
