@import 'Variables';
@import '../fontello/css/axis-wiki';
@import '../fontello/css/animation';

* {
  box-sizing: border-box!important;
}
html, body {
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  border-bottom: 1px solid #42afe3;
  display: block;
  margin: 10px 0;
}
h1, h3, h5 {
  font-weight: bold;
}
h2, h4, h6 {
  font-style: italic;
}
h1, h2 { font-size: 2em; line-height: 2em; }
h3, h4 { font-size: 1.6em; line-height: 1.6em; }
h5, h6 { font-size: 1.2em; line-height: 1.2em; }

a { color: $color-default-link; }
a.wiki-missing { color: $color-missing-link; }

b, em, strong { font-weight: bold;  }

table th { font-weight: bold; text-align: center; }

.is-hidden { display: none!important; }
.button:not(.is-disabled) { cursor: pointer; }

.icon,
.icon.is-small,
.icon.is-medium,
.icon.is-large {
  vertical-align: baseline;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  margin: 0;
  padding: 0;
}