$palette-beige:       #fdf5e6;
$palette-blue:        #42afe3;
$palette-dark-gray:   #333;
$palette-green:       #97cd76;
$palette-light-blue:  #e2fbfb;
$palette-light-gray:  #d3d6db;
$palette-offwhite:    #f6f6f6;
$palette-orange:      #e8720c;
$palette-red:         #c44;
$palette-royal-blue:  #08f;
$palette-white:       #fff;
