@import "../node_modules/bulma/bulma/config/variables";

$size-header-y: 50px;
$size-left-column-x: 160px;

$color-text: #333;
$color-bg-page: #fff;
$color-bg-light: #f6f6f6;

$color-border-gray: #d3d6db;
$color-border-blue: #42afe3;

$color-default-link: #08f;
$color-missing-link: #c44;

$color-table-bg-even: #fff;
$color-table-bg-odds: $color-bg-light;

// Special Icons for Content Types
$color-system: #fdf5e6;
$image-system: url(/images/dice.gif);

$color-book: #f2ffff;
$image-book: url(/images/book.png);

$color-info: #f0f8ff;
$image-info: url(/images/info.png);

$image-transparent: url(/images/transparent-bg.png);