@import "../node_modules/bulma/bulma/config/variables";

$size-header-y: 50px;
$size-left-column-x: 160px;

$color-border-gray: #d3d6db;
$color-border-blue: #42afe3;

$color-missing-link: $red;

$color-system: #fdf5e6;
$image-system: url(/images/dice.gif);

$color-table-bg-even: #fff;
$color-table-bg-odds: #f6f6f6;